.todo-container {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #9e78cf;
  background-color: #20192a;
  font-size: 16px;
  width: 500px;
  box-sizing: border-box;
}

.todo-content {
  max-width: 400px;
}

.icons-container {
  width: 50px;
}

.icons {
  font-size: 20px;
  cursor: pointer;
}

.edit-input {
  width: 380px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #777777;
  outline: none;
  background-color: transparent;
  color: #9e78cf;
  font-size: 16px;
  font-family: "Quicksand";
}

/* mobile responsiveness */

@media (max-width: 540px) {
  .todo-container {
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 400px;
  }

  .todo-content {
    max-width: 300px;
  }

  .icons-container {
    width: 50px;
  }

  .icons {
    font-size: 20px;
  }

  .edit-input {
    width: 300px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 464px) {
  .todo-container {
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 370px;
    padding: 15px 20px;
  }

  .todo-content {
    max-width: 280px;
  }

  .icons-container {
    width: 50px;
  }

  .icons {
    font-size: 20px;
  }

  .edit-input {
    width: 260px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .todo-container {
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 340px;
    padding: 15px 20px;
  }

  .todo-content {
    max-width: 250px;
  }

  .icons-container {
    width: 50px;
  }

  .icons {
    font-size: 20px;
  }

  .edit-input {
    width: 230px;
    height: 20px;
    font-size: 16px;
  }
}
