.todos-container {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #9e78cf;
  background-color: #20192a;
  font-size: 16px;
}

.icons {
  font-size: 20px;
  cursor: pointer;
}

::placeholder {
  font-family: "Quicksand";
  color: #777777;
  font-size: 16px;
}

.edit-input {
  width: 380px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #777777;
  outline: none;
  background-color: transparent;
  color: #9e78cf;
  font-size: 16px;
  font-family: "Quicksand";
}
